* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.team {
  inset-block-start: 20em;
  &_inner {
    background-color: #fafafa;
    .team_header {
      inset-block-start: 2rem;
      margin-bottom: 7rem;

      &_text {
        font-size: 49px;
      }
    }

    .team_flex_box {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(7, 1fr);
      margin-top: 2rem;
      margin-bottom: 5rem;

      &_inner {
        width: 10rem;
        height: 25rem;
        inset-inline-start: 0.4rem;
        border: 1px solid #f0f0f0;
        background-color: #fff;
        cursor: pointer;

        &:hover {
          box-shadow: 1px 7px 10px 10px rgb(135 135 135 / 20%);
          color: red;
        }

        // TRYING TRANSITION...  transition: cubic-bezier(0.075, 0.82, 0.165, 1);

        .team_img {
          img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            inset-block-start: 1rem;
          }
        }
        .team_bio {
          inset-block-start: 3.1rem;

          .name {
            text-align: left;
            margin-left: 1rem;
      
          }

          .member_info {
            inset-block-start: 1rem;
            text-align: left;

            .info_text {
              color: blue;
              margin-left: 2px;
            }
          }
          .nickname {
            text-align: right;
            inset-block-start: 3rem;
            inset-inline-end: 0.3rem;
          }
        }
      }
    }
  }
}
